
.add-product-link {
    display: inline-block;
    width: 600px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.add-product-link:hover {
    background-color: #333;
    color: #fff;
}

.button-container {
    text-align: center;
  }
  
  

.container2-BOproducts{ 
    margin-right: auto; margin-left: auto; width: 1200px;
    align-content: center;
    max-width: 1200px;
    overflow: hidden;
    padding: 60px 0;
}
.container2-BOproducts .main-cardBOproducts2{
    alignment: center;
    align-content: center;
    justify-content: space-evenly;
	width: 190%;
    transition: 1s;
}

.HOHO3{
	align-content: center;
}

#two2:checked ~ .main-cardBOproducts2{
    margin-left: -100%;
}
.container2-BOproducts .main-cardBOproducts2 .cardsBOproducts2{
    width: calc(100% / 2 - 10px);
    
    /* this line by Sahar, have to be added to other pages :)  */
    /* added this bu mosab  */
    display: grid;
  
  grid-template-columns: repeat(
     auto-fill,
      minmax(max(200px, calc((100% - 30px) / 3)), 1fr)
    );
    grid-row-gap: 30px;
    flex-wrap: wrap;
    margin: 0 40px 40px 30px;
    justify-content: space-between;
}
.main-cardBOproducts2 .cardsBOproducts2 .cardBOproducts2{
    /* width: calc(100% / 3 - 10px); */
    background: #fff;
    border-radius: 12px;
	padding: 40PX;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    margin-right: 10px;
}
.main-cardBOproducts2 .cardsBOproducts2 .cardBOproducts2:hover{
    transform: translateY(-15px);
}
.cardsBOproducts2 .cardBOproducts2 .contentBOproducts2{
    width: 100%;
     display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;

}
.cardsBOproducts2 .cardBOproducts2 .contentBOproducts2 .img-bBOproducts1{
    height: 250px;
    width: 250px;
    border-radius: 10%;
    padding: 3px;
    background: #f3b547;
    margin-bottom: 14px;
}
.cardBOproducts2 .contentBOproducts2 .img-bBOproducts1 img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 10%;
    object-fit: cover;
}
.cardBOproducts2 .contentBOproducts2 .nameBOproducts2{
    font-size: 20px;
    font-weight: 500;
}

.container2-BOproducts .buttonBOproducts2{
    width: 100%;
     display: flex;
    justify-content: center; 
    margin: 10px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


@media (max-width: 768px) {
    .main-cardBOproducts2 .cardsBOproducts2 .cardBOproducts2{
        margin: 20px 0 10px 0;
        width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 600px) {
    .main-cardBOproducts2 .cardsBOproducts2 .cardBOproducts2{
        /* margin: 20px 0 10px 0; */
        width: 100%;
    }
}