@import "https://fonts.googleapis.com/css?family=Raleway";

.sahar-report-h {
  margin: 0;
}

.reporting { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

.reportingForm { 
  display: block;
  border: 6px solid rgb(74, 29, 24); 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.reporting:hover { 
  background: #666; 
}

.reporting:active { 
  background: #444; 
}

.reporting.hide {
  display: none;
}



.text-field {
  margin: 0.8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  display: block; 
  width: 280px; 
  padding: 0.4em;
}

.text-area {
  height: 80px; 
  resize: none; 
}

.form-btn2 { 
  width: 140px;
  display: inline-block;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

