.SearchBar-input-panel {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: #eda415;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: "";
  background: #eda415;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: -2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: #eda415;
  font-size: 16px;
  background: transparent;
  width: 16px;
  height: 16px;
  padding: 10px;
  border: solid 3px #eda415;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #eda415;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 30vw;
}

.search-btn {
  visibility: hidden;
  position: absolute;
  right: 5px;
  background-color: #eda415;
  color: #003f62;
  border-radius: 50%;
  margin-top: 5px;
  border: none;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search > div > input:not(:placeholder-shown) + .search-btn {
  visibility: visible;
}
