.HeaderRight {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-profile-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  width: 60px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.header-signOut-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  width: 100px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.header-favorites-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 30px;
  width: 60px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.header-favorites-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  background: #eda415;
  border-radius: 50%;

  flex: none;
  order: 1;
  flex-grow: 0;
}
a {
  text-decoration: none;
}
